<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
       <!-- 缓存管理器 使用Ehcache实现 -->
		<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
			<property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
		</bean>
       <bean id="userRealm" class="com.arlen.ebp.shiro.SysUserRealm">
           <property name="cachingEnabled" value="true"/>
           <!--<property name="authenticationCachingEnabled" value="true"/>-->
           <!--<property name="authenticationCacheName" value="authenticationCache"/>-->
           <property name="authorizationCachingEnabled" value="true"/>
           <property name="authorizationCacheName" value="authorizationCache"/>
       </bean>
       <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
           <property name="realm" ref="userRealm"/>
           <property name="cacheManager" ref="cacheManager"/>
       </bean>
    <!-- Spring Integration -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

    <!-- Enable Shiro Annotations for Spring-configured beans. Only run after
        the lifecycleBeanProcessor has run: -->
    <bean id="annotationProxy"
          class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor" />
    <bean
            class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager" />
    </bean>
       <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
              <property name="securityManager" ref="securityManager"/>
              <!-- override these for application-specific URLs if you like:-->
              <property name="loginUrl" value="/login"/>
           <property name="filters">
               <util:map>
                   <entry key="authc">
                       <bean class="com.arlen.ebp.shiro.AdminAuthenticationFilter" />
                   </entry>
               </util:map>
           </property>
              <property name="filterChainDefinitions">
                     <value>
                         /api/ebt/billbiz/getAppLatestVersion = anon
                         /app/** = anon
                         /openapi/** = anon
                         /login = anon
                         /logout = logout
                         /changePwd = anon
                         /api/ebp/syspassport/login = anon
                         /api/ebp/syspassport/logout = anon
                         <!--/api/proj/syncMeiChi/** = anon-->
                         /druid/** = authc
                         /static/** = anon
                         /error/** = anon
                         /view2/ebp/sysinit/** = anon
                         /favicon.ico = anon
                         /favicon.ico = anon
                         /api/ebms/app/** = anon
                         /view/ebms/apk/** = anon
                         /** = authc
                     </value>
              </property>
       </bean>
</beans>
